body {
    background: url('./img/vegas.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}


body {
    font-family: 'Aldrich', sans-serif;
    text-align: center;
    background-color: #EFEFEF;
}

h1 {
    letter-spacing: 0.3em;
    padding-top: 100px;
}
#display h2 {
    margin: 0;
    padding-top: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
}

#table {
    margin: auto;
    height: 440px;
    width: 700px;
    background-color: lightgreen;
    border-radius: 20px;
}
#dealer-hand, #player-hand {
    width: 600px;
    height: 100px;
    background-color: rgb(84, 255, 62);
    margin: auto;
}
#dealer-label, #player-label {
    display: block;
    color: black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    width: 600px;
    margin: 10px auto 10px;
}

.buttons button {
    color: black;
    width: 147px;
    background-color: dodgerblue;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 22px;
    vertical-align: top;
    height: 50px;
}
.buttons button:hover {
    opacity: 0.7;
    transition: 1s;
    cursor: pointer;
}
.buttons button:focus {
    outline: none;
    border: none;
}

.hand img {
    text-align: left;
    padding-top: 5px;
    height: 90%;
    margin-left: -20px;
    padding-right: 28px;
}
.hand :first-child {
    margin: 0;
}

@media (max-width: 650px) {
    h1 {
        font-size: 23px
    }
    h2 {
        font-size: 20px;
    }
    #table {
        border-radius: 5px;
        height: 376px;
    }
    #table, .buttons, .betting {
        width: 100%;
    }
    #dealer-hand, #player-hand {
        height: 75px;
    }
    .hand img {
        margin-left: -15px;
    }
    #dealer-hand, #player-hand, #player-label, #dealer-label {
        width: 95%;
    }
    #player-label, #dealer-label {
        margin-left: 10px;
    }
    .buttons button {
        margin-top: 18px;
        font-size: 13px;
        width: 22.5%;
        padding: 12px 0px;
    }


}